
.styled{
 margin-left:7rem;
 margin-right: 7rem;
    padding: 1rem;
    background-color: hsl(36, 100%, 99%);
    height: 100vh;
}


.navbar{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   justify-content: space-around; 
   text-align: center;
   margin-top:3rem ;
}

.name{
    color:black;
    font-weight: bold;
    font-size: 60px;
    height: 6px;
    margin-top: -1.5rem;
}

.nav{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-column: 3 / 3 ;
    text-align: center;   
    margin-right: 10rem;
}

.nav > li{
    list-style: none;
    font-size: 20px;
    margin-right: 1rem;
    color:gray;
}
.headpara{
    margin: 8px;
}

.content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
    height: 80vh;
    margin-top: 3rem;
    
}

.banner{
    grid-column:span 2;
    grid-row: span 2;
    margin-bottom: 0px;
  
}

.img{
    max-width: 100%;
 
}
.future{
   
    font-size: 50px;
    font-weight: bold;
    text-align: start;
}

.readmoretxt{
    text-align:start;
    font-size: 20px;
    font-weight: 100;
    color: gray;
 
}

.readmore{
    background-color: indianred;
    width: 13rem;
    height: 50px;
    color: white;
    display: flex;
    margin-top: 20px;

}

.stylemore{
    display: flex;
/* place-items: center; */
justify-content: center;
align-items: center;
margin-left: 55px;
 

}


.longpg{
    display: grid;
    grid-row: span 3;
    background-color:hsl(240, 100%, 5%);
    color: white;
   
}

.new{
    color: orange;
    font-size: 50px;
    padding: 2rem;
}

.newhead{
    font-size: bold;
    font-weight: 400;
    color: white;
    font-size: 25px;
   margin-left: 1rem;
    margin-top: 1rem;
}

.headpara{
    font-size: 15px;
    padding: 0.5rem;
    color: gray;
}
.para1{
    
    border-bottom: white;
    text-align: start;
}

.para2{

  border-bottom: white;
 
}


.para3{
  grid-row:span 1;
    
}

.footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 2rem;
    gap: 1rem;
}

.footerpics{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-bottom:4rem;
   
}

.image{
   
    width:60%;
    height:100%;
}

.imagetext{
    margin-left:-3rem;
    align-items: center;
   
}

.number{
    font-size: 30px;
    font-weight: bold;
    margin: 1rem;
    color: gray;
}
.title{
    font-size:18px;
    font-weight: bold;
    margin: 1rem;
}

.text{
    font-size: 15px;
    font-weight: bold;
    color: gray;
    text-decoration: wavy;
    margin: 1rem;
}